:root {
  --image-width: 30vw;
  text-align: center;
}
aside {
  width: var(--image-width);
  height: 100vh;
  background-image: url(./img/tim-mossholder-9_93SMxxU4s-unsplash.jpg);
  background-size: cover;
}

#logo {
  color: white;
  width: 100%;
  font-size: 3.5rem;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 35%;
}
