:root {
  --image-width: 30vw;
  --padding-main-left: 2rem;
  --green-color: rgb(43, 61, 33);
  --main-background-color: #f3f2f2;
  --font-color-with-background: white;
  --orange-color: sandybrown;
  font-size: 1.5rem;
  font-family: "Roboto";
}
body {
  display: flex;
}
aside {
  width: var(--image-width);
  min-height: 100vh;
  background-image: url(./img/tim-mossholder-9_93SMxxU4s-unsplash.jpg);
  background-size: cover;
  word-wrap: break-word;
}
legend {
  position: relative;
  top: -0.6rem;
}

#logo {
  text-align: center;
  color: var(--font-color-with-background);
  width: 100%;
  padding: auto 100px;
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 25%;
}
main {
  background-color: var(--main-background-color);
  width: 100%;
}

fieldset {
  border: none;
  background-color: white;
  padding-bottom: 1rem;
  box-shadow: 5px 2px 10px -5px;
}
fieldset,
p,
#upper-text {
  padding-left: var(--padding-main-left);
}
button {
  margin-left: var(--padding-main-left);
  background-color: var(--green-color);
  color: var(--font-color-with-background);
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
button:hover {
  outline: 3px var(--orange-color) solid;
  /* color: var(--orange-color); */
}
.row {
  display: flex;
  justify-content: left;
  gap: 1rem;
}
label {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: rgb(22, 22, 22);
}
input {
  background-color: #faf6f6;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  padding: 0.3rem;
  box-shadow: none;
  border: 1px solid rgb(212, 212, 212);
  display: flex;
}

input:focus-visible {
  outline-color: var(--orange-color);
}
main > * {
  margin: 30px auto;
}
a {
  color: var(--green-color);
  text-decoration: none;
}
a:hover {
  color: var(--orange-color);
}
#upper-text {
  margin: 7rem 10rem 3rem 0;
  width: 40rem;
}
fieldset > div:first-of-type {
  margin: 0.5rem 0 1rem 0;
}
